
@{
    ViewBag.Title = "EmployeeListIndex";
}
<script src="~/Content/Pages/jquery-1.11.1.min.js"></script>
<script src="~/Content/Pages/Employee.js"></script>

<div class="col-sm-2">

</div>

<div class="col-sm-8">
    <h2><center>कार्यकर्ता  यादी</center></h2>
    <br />
    <br />


    <table id="Tbl_Employee" border="1" class="table table-bordered">
        <thead class="thead-dark">
            <tr>

                <th bgcolor="orange">EmpID</th>
                <th bgcolor="orange">Name</th>
                <th bgcolor="orange">Address</th>
                <th bgcolor="orange">Mobileno</th>
                <th bgcolor="orange">Email</th>
                <th bgcolor="orange">City</th>
                <th bgcolor="orange">Qualification</th>
                <th bgcolor="orange">Designation</th>
                <th bgcolor="orange">Salary</th>
                <th bgcolor="orange">JobType</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
