
@{
    ViewBag.Title = "EmployeeIndex";
}
<script src="~/Content/Pages/jquery-1.11.1.min.js"></script>
<script src="~/Content/Pages/Employee.js"></script>
<div class="col-sm-2">

</div>

<div class="col-sm-8">
    <h2>कार्यकर्ता नोंदणी</h2>
    <br />
    <br />
    <label>Name</label>
    <input id="txtname" type="text" class="form-control" style="width:400px" />

    <label>Address</label>
    <input id="txtaddress" type="text" class="form-control" style="width:400px" />


    <label>MobileNo</label>
    <input id="txtmobileno" type="text" class="form-control" style="width:400px" />


    <label>Email</label>
    <input id="txtemail" type="text" class="form-control" style="width:400px" />


    <label>City</label>
    <input id="txtcity" type="text" class="form-control" style="width:400px" />


    <label>Qualification</label>
    <input id="txtqualification" type="text" class="form-control" style="width:400px" />


    <label>Designation</label>
    <input id="txtdesignation" type="text" class="form-control" style="width:400px" />


    <label>Salary</label>
    <input id="txtsalary" type="text" class="form-control" style="width:400px" />


    <label>JobType</label>
    <input id="txtjobtype" type="text" class="form-control" style="width:400px" />

    <br>
    <input id="Button1" type="button" value="Submit" class="btn btn-info" onclick="saveEmployee()" />


</div>



