
@{
    Layout = null;
}

<!DOCTYPE html>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Content/RentPavati.js"></script>

<!--<div class="container bootdey">
    <div class="row invoice row-printable">
        <div class="col-md-2"></div>
        </div>
</div>

<div class="container bootdey">
            <div class="row invoice row-printable">
                <div class="col-md-8" id="didID">
                    <div class="row invoice row-printable">
                        <div class="panel panel-default plain" id="dash_0">
                            <!--Start .panel-->
<!--<div class="panel-body p30">
    <div class="row">-->
<!--Start .row-->
<!--<div class="col-lg-2">-->
<!--col-lg-4 start here-->
<!--<div class="invoice-logo">
        <img src="~/Image/pingladevi.jpeg" alt="Invoice logo" width="100" />
    </div>
</div>-->
<!--col-lg-4 end here-->
<!--<div class="col-lg-10">-->
<!--col-lg-8 start here-->
<!--<div class="row">
        <center><h2 class="box-title" style="font-size:30px">पिंगळा देवी संस्थान (गढ ) </h2></center>
        <center><h1 class="box-title" style="font-size:10px">नांदुरा पिंगळाई ता. जी अमरावती   रजि . नं.२४९७ </h1></center>
        <center><h1 class="box-title" style="font-size:10px">www.pingladevi.org </h1></center>
    </div>
</div>-->
<!--col-lg-8 end here-->
<!--<div class="col-lg-12">-->
<!--col-lg-12 start here-->
<!--<div class="row" style="border:solid;" width="10%"></div>
<br>
<div class="row">
    <div class="col-sm-12">
        श्री:-
        <label id="TxtName1" />
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        गांव:-
        <label id="TxtCity1" />
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        पावती क्र:-
        <label id="TxtReciptNo" />
    </div>
    <div class="col-sm-6">
        दिनांक :-
        <label id="TxtDate1" />
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        वेळ:-
        <label id="TxtStartTime" />
    </div>

    <div class="col-sm-6">
        ते:-
        <label id="TxtEndTime" />
    </div>

</div><br>
<div class="col-sm-12">
    <table id="tblInvoices" border="1" style="width:100%">
        <thead>
            <tr>
                <th bgcolor="white" style="width:30%">Item </th>
                <th bgcolor="white" style="width:30%">PerDayRate </th>
                <th bgcolor="white" style="width:20%">TotalItem </th>
                <th bgcolor="white" style="width:20%">TotalPrice</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div><br>
<br>
<div classs="row">
    <div class="col-sm-4">
        GrandTotal
        <input id="grdtotal" type="text" readonly="readonly" input size="6" /><br>
    </div>
    <div class="col-sm-4">
        Advance
        <input id="TxtAdv" type="text" input size="6" /><br>
    </div>
    <div class="col-sm-4">
        Balance
        <input id="Bal" type="text" readonly="readonly" input size="6" /><br>
    </div>
</div><br>
<div classs="row">
    <div class="no-print">
        <div class="col-sm-6">
            <center><input id="BtnAdd" type="button" class="btn btn-success" value="Save" onclick="savefinalinvoice()" /></center>
        </div>
    </div>
    <div class="col-sm-6">
        <center><button type="button" id="printButton" class="btn btn-primary hidden-print" onclick="printDiv('didID')"><span class="glyphicon glyphicon-print" aria-hidden="true"></span>Print</button></center>
    </div>
</div>

<div class="col-sm-12">
    <div class="row" style="border:solid;" width="10%"></div>-->
@*<br>*@
<!--<div class="row">
                        <div class="col-sm-6">
                            <h2 style="font-size:17px">ऑर्डर देणाऱ्याची सही</h2>
                        </div>
                        <div class="col-sm-6">
                            <h1 style="font-size:17px">ऑर्डर घेण्याची सही</h1>
                        </div>
                    </div>
                    <div class="row" style="border:solid;" width="10%"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box-footer">

                            टीप:-<br>
                            *५०% ऍड रक्कम बुकिंग करते वेळी जमा करावी लागेल. ५०% रक्कम हॉल ताब्यात घाईच्या वेळेस जमा करावी लागेल.<br>
                            * बुकिंग रद्द झाल्यास ऍड. परत मिळणार नाही.<br>
                            * एक्सट्रा चार्जेस डिपॉझिट द्यावे लागेल.<br>
                            * सामान तूट फूट झाल्यास वेगळा चार्जेस द्यावे लागेल.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
@*</div>*@
<!--</div>-->
@*</div>*@
@*</div>*@
@*</div>
                </div>
            </div>

    <div class="container bootdey">
        <div class="row invoice row-printable">
            <div class="col-md-2"></div>
        </div>
    </div>-->*@

<h3 class="card-title"></h3>
<div class="col-sm-5">
    <div class="col-sm-10">
        <table id="tblBook" border="1" class="table-responsive-lg">
            <thead>
                <tr>
                    <th>ReciptNo</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>StartTime</th>
                    <th>EndTime</th>
                    <th>Date</th>
                    <th>Item</th>
                    <th>PerDayRate</th>
                    <th>TotalItem</th>
                    <th>TotalPrice</th>
                    <th>GrandTotal</th>
                    <th>Advance</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        </div>
</div>
