
@{
    ViewBag.Title = "Index";
}

<h2>Adv Bhandi Pavati</h2>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/Pages/AdvBhandePavati.css" rel="stylesheet" />

<style>
    h5,p{
        text-align:center;
    }
</style>


<div class="container bootdey">
    <div class="row invoice row-printable">
        <div class="col-md-10">
            <!-- col-lg-12 start here -->
            <div class="panel panel-default plain" id="dash_0">
                <!-- Start .panel -->
                <div class="panel-body p30">
                    <div class="row">
                        <!-- Start .row -->
                        <div class="col-lg-2">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-logo"><img width="100" src="~/image/pingladevi.jpeg" alt="Invoice logo" /></div>
                        </div>
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-10">
                            <!-- col-lg-6 start here -->
                            <div class="col-lg-2"></div>
                            <div class="col-lg-6">
                                <h1>पिंगळा देवी संस्थान (गढ)</h1>
                                <h5>नांदुरा पिंगळाई , ता. जि. अमरावती. रजि. नं. अे. २४९७</h5>
                                <p>www.pingladevi.org</p>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    </div>
                    <br />
                    <!-- col-lg-6 end here -->
                    <div class="row">
                        <!-- col-lg-12 start here -->
                        <div class="col-lg-2">
                            <p><strong>दिनांक</strong></p>
                        </div>
                        <div class="col-lg-7"></div>

                        <div class="col-lg-3">
                            <p><strong>पाक्र</strong></p>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-lg-2"><p><strong>नावं</strong></p></div>
                        <div class="col-lg-5"></div>
                        <div class="col-lg-5"><p><strong>गावं</strong></p></div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3"><p><strong>कार्यक्रमाची दिनांक </strong></p></div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-5"><p><strong>मो.नं.</strong></p></div>
                    </div>


                    <br />
                    <div class="invoice-items">
                        <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="1">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>

                                        <th class="text-center">अ.क्र.</th>
                                        <th class="text-center">विवरण </th>
                                        <th class="text-center">भाडे</th>
                                        <th class="text-center">एकूण</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <tr>
                                      
                                    </tr>
                                    <tr class="open">
                                        <td scope="colgroup"></td>
                                        <td class="table-borderless"></td>
                                        <td class="table-borderless"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                    </tr>
                                    <tr>

                                        <th class="text-right"></th>
                                        <th class="text-right"></th>
                                        <th class="text-right">एकूण </th>
                                    </tr>
                                    <tr>

                                        <th class="text-right"></th>
                                        <th class="text-right"></th>
                                        <th class="text-right">अँड.</th>
                                    </tr>
                                    <tr>

                                        <th class="text-center"></th>
                                        <th class="text-left">सभागृह सफाई चार्ज २०० रू  ( एक्सट्रा ) </th>
                                        <th class="text-right">बाकी.</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="invoice-footer mt25">
                        <p class="text-center"> <a href="#" class="btn btn-default ml15"><i class="fa fa-print mr5"></i> Print</a></p>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <p class="text-left"><strong>नियम व अटी:-</strong></p>

                            <p class="text-left"><strong>१) बिछायत व भंडी कार्यालयाचेच घेणे आवश्यक राहील.</strong> </p>
                            <p class="text-left"><strong>२) आपल्या सामानाची जबाबदारी स्वतःची राहील.</strong> </p>
                            <p class="text-left"><strong>३) सभागृहाचे भाडे पुर्ण भरल्याशिवाय सभागृहआत प्रवेश घेता येणार नाही.</strong> </p>
                            <p class="text-left"><strong>४) बुकिंग करतेवेळी जमा केलेला अँडव्हान्स परत मिळणार नाही.</strong> </p>
                            <p class="text-left"><strong>५) अँडव्हान्स पावती सोबत आणने गरजेचे आहे.</strong> </p>

                        </div>

                        <div class="col-lg-2">

                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <p class="text-left"><strong>सही.</strong></p>

                        </div>
                    </div>
                </div>
                <!-- col-lg-12 end here -->
            </div>
            <!-- End .row -->

            
        </div>


            </div>
            <!-- End .panel -->

                
        </div>
        <!-- col-lg-12 end here -->
    </div>
</div>

